body {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

.bold {
  font-weight: bold;
}


.container {
  background-image: url("./img/building.png");
  background-size: cover;
  padding: 0;
  margin: 0;

}

.container h1 {
  font-size: 70px;
  color: white;
}

.navigation li, a {
  list-style: none;
  font-size: 18px;
  color: white;
  font-family: Helvetica;
}

.process {
  color: black;
}

.process h2{
  font-size: 32px
  font-weight: bold;
  color: black;
}

.process h3, .newyork h3 {
  font-size: 23px;
  font-weight: bold;
}

.process p, .newyork p {
  font-size: 14px;
}

.newyork .nyhdr {
  color: white;
  background-image: url("./img/building.png")
}

.newyork {
  color: black;
}

.copyright {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.bottomnav ul li {
  list-style: none;
  display: inline-block;
}
